.joy-wedding-info #welcome {
  background-image: url(assets/bottom.png), url(assets/top.png);
  background-size: 100%, 100%;
  background-position: center bottom, center top;
  background-repeat: no-repeat, no-repeat;
}

.joy-theme.bg-image-a {
  background-image: url(assets/bottom.png), url(assets/top.png);
  background-size: 100%, 100%;
  background-position: center bottom, center top;
  background-repeat: no-repeat, no-repeat;
}

/**************************************
E-Cards
**************************************/

#invite .ecard .ecard-content .hero {
    margin-top: -2vh;
}

#invite .ecard.front .joy-theme.bg-image-a {
  background-image: url(assets/bottom.png), url(assets/top.png);
  background-size: 100%, 100%;
  background-position: center bottom, center top;
  background-repeat: no-repeat, no-repeat;
}